body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #1a202c;
}

body::-webkit-scrollbar-thumb {
  background-color: #4FD1C5;
  outline: 1px solid slategrey;
}